.gallery {
    .swiper {
        min-height: 500rem;
        .swiper-slide {
            height: 100%;
        }
        .swiper-pagination {
            margin: 0;
            position: absolute;
            top: 434rem;
            &-bullet {
                position: relative;
                background: rgba(255, 255, 255, 0.3);
                width: 61rem;
                height: 6rem;
                border-radius: 10rem;
                overflow: hidden;
                opacity: 1;
                &:not(:last-child) {
                    margin-right: 4rem;
                }
            }
        }
    }
    &__image {
        width: 100%;
        height: 460rem;
        object-fit: cover;
        border-radius: 10rem;
        margin-bottom: 20rem;
    }
    &__caption {
        font-size: 20rem;
        line-height: 120%;
    }
    @media (max-width: 768px) {
        .swiper {
            width: 335rem;
            min-height: auto;
        }
        &__image {
            height: 200rem;
            margin-bottom: 0;
        }
        &__caption {
            display: none;
        }
    }
}
#gallery-pagination .bullet-progress {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--white);
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.1s linear;
}