.hero {
    margin-bottom: 80rem;
    color: var(--white);
    
    &__wrapper {
        position: relative;
        width: 100%;
        height: 550rem;
        border-radius: 10rem;
        overflow: hidden;
    }
    
    &__content {
        position: relative;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 1) 100%);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 40rem 30rem;
    }

    &__image {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    &__text-block {
        display: flex;
        flex-direction: column;
        gap: 0;
        max-width: 505rem;
    }
    
    &__title {
        font-weight: 300;
        font-size: 80rem;
        line-height: 1.2;
        text-transform: uppercase;
        color: var(--white);
        margin: 0;
        text-shadow: none;
        -webkit-text-stroke: 0;
        filter: none;
    }
    
    &__description {
        font-weight: 300;
        font-size: 16rem;
        line-height: 1.2;
        color: var(--white);
        max-width: 427rem;
        margin: 0;
    }
    
    &__action {
        display: flex;
        align-items: center;
        gap: 20rem;
    }
    
    &__action-label {
        font-weight: 300;
        font-size: 14rem;
        line-height: 1.2;
        color: var(--white);
    }
    
    @media (max-width: 768px) {
        margin-bottom: 60rem;
        
        &__container {
            padding-inline: 0;
            max-width: 100%;
        }
        
        &__wrapper {
            height: 450rem;
            border-radius: 0;
        }
        
        &__content {
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            padding: 40rem 20rem;
        }
        
        &__text-block {
            max-width: 100%;
        }
        
        &__title {
            font-size: 48rem;
            margin-bottom: 8rem;
        }
        
        &__description {
            font-size: 14rem;
            max-width: 100%;
        }
        
        &__action {
            display: none;
        }
    }
}