.map {
    padding-bottom: 159rem;
    &__content {
        position: relative;
    }
    &__object {
        width: 100%;
        height: 387rem;
    }
    &__info {
        border-radius: 10rem;
        position: absolute;
        bottom: 20rem;
        left: 20rem;
        background-color: var(--white);
        padding: 20rem;
        display: flex;
        gap: 10rem;
        align-items: end;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 20rem;
        &-item {
            display: flex;
            align-items: center;
            gap: 12rem;
            color: var(--text);
            img {
                width: 18rem;
                height: 18rem;
            }
        }
    }
    &__socials {
        &-list {
            display: flex;
            align-items: center;
            gap: 7rem;
        }
    }

    @media (max-width: 768px) {
        padding-bottom: 50rem;
        &__object {
            height: 480rem;
        }
        &__info {
            flex-direction: column;
            align-items: flex-start;
            gap: 20rem;
            left: 12rem;
            right: 12rem;
            bottom: 12rem;
        }
    }
}