.other {
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 13rem;
    }
    
    &__item {
        margin: 0;
    }
    
    &__image {
        width: 100%;
        height: 280rem;
        object-fit: cover;
        margin-bottom: 20rem;
    }
    
    &__caption {
        font-size: 16rem;
        color: var(--text);
    }
    
    @media (max-width: 768px) {
        &__list {
            display: flex;
            flex-direction: column;
            gap: 20rem;
        }
        
        &__image {
            height: 300rem;
        }
    }
}