// Заголовок страницы блога
.blog-header {
    padding-top: 40rem;
    padding-bottom: 40rem;
    
    &__breadcrumbs {
        padding: 0;
        margin-bottom: 34rem;
        
        .breadcrumbs__list {
            justify-content: flex-start;
        }
    }
    
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 40rem;
        
        .blog-header__subtitle {
            display: block;
        }
    }
    
    &__text {
        flex: 1;
    }
    
    &__title {
        font-weight: 700;
        font-size: 48rem;
        line-height: 1.2;
        color: var(--dark);
        margin: 0 0 20rem 0;
    }
    
    &__subtitle {
        font-weight: 400;
        font-size: 16rem;
        line-height: 1.2;
        color: var(--dark);
        margin: 0;
    }
    
    &__mobile-bar {
        display: none;
        
        .blog-header__subtitle {
            display: none;
        }
    }
    
    @media (max-width: 768px) {
        padding-top: 0;
        padding-bottom: 0;
        
        &__breadcrumbs {
            margin-bottom: 24rem;
        }
        
        &__top {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 20rem;
            
            .blog-header__subtitle {
                display: none;
            }
        }
        
        &__title {
            font-size: 32rem;
            margin-bottom: 0;
            text-align: left;
            font-weight: 400;
        }
        
        &__subtitle {
            font-size: 20rem;
            font-weight: 400;
            margin: 0;
            color: var(--dark);
            flex: 1;
        }
        
        &__mobile-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 16rem;
            width: 100%;
            margin-bottom: 20rem;
            
            .blog-header__subtitle {
                display: block;
            }
        }
    }
}

.blog {
    padding-top: 0;
    display: flex;
    gap: 69rem;
    position: relative;
    justify-content: space-between;
    
    &__content {
        width: 100%;
        max-width: 840rem;
    }
   
    &__sidebar {
        position: absolute;
        right: 140rem;
        top: 359rem;
        display: flex;
        flex-direction: column;
        gap: 55rem;
        color: var(--black);
        &-title {
            font-weight: 600;
            font-size: 24rem;
            margin-bottom: 20rem;
        }
        &-list {
            display: flex;
            flex-direction: column;
            gap: 15rem;
        }
        &-link {
            font-weight: 500;
            font-size: 18rem;
            text-decoration: underline!important;
            text-decoration-skip-ink: none;
            display: inline-block;
            color: var(--black);
        }
    }
    &__open-menu {
        display: none;
    }
    &__card {
        margin-bottom: 40rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        &-img {
            width: 100%;
            height: 400rem;
            margin-bottom: 12rem;
            object-fit: cover;
        }
        &-title {
            font-weight: 600;
            font-size: 24rem;
            margin-bottom: 14rem;
        }
        &-excerpt {
            margin-bottom: 30rem;
        }
        &-meta-list {
            margin-bottom: 30rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 12rem 20rem;
        }
        &-meta-item {
            display: flex;
            align-items: center;
            gap: 8rem;
            img {
                width: 16rem;
                height: 16rem;
                flex-shrink: 0;
            }
            p {
                font-weight: 400;
                font-size: 12rem;
                line-height: 1.2;
                color: var(--dark-60);
            }
            .value {
                -webkit-line-clamp: 1;
                line-clamp: 1;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
        &-footer {
            display: block;
        }
        &-link {
            display: inline-flex;
        }
        &-time {
            display: none;
        }
    }
    @media (max-width: 768px) {
        flex-direction: column;
        
        &__content {
            max-width: 100%;
        }
        
        &__title {
            font-size: 32rem;
        }
        &__open-menu {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            img {
                width: 32rem;
                height: 32rem;
            }
        }
        &__content {
            order: 1;
        }
        &__card {
            position: relative;
            width: 100%;
            margin-bottom: 30rem;
            
            &-img {
                height: 200rem;
                margin-bottom: 20rem;
            }
            &-meta-list {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin-bottom: 20rem;
                row-gap: 8rem;
                column-gap: 20rem;
                
                .blog__card-meta-item:nth-child(3) {
                    display: none;
                }
            }
            &-meta-item {
                &:nth-child(2), &:nth-child(5) {
                    justify-self: end;
                }
            }
            &-title {
                font-size: 20rem;
                margin-bottom: 12rem;
            }
            &-excerpt {
                font-size: 14rem;
                margin-bottom: 20rem;
            }
            &-footer {
                display: flex;
                align-items: center;
                gap: 20rem;
            }
            &-link {
                flex-shrink: 0;
                display: inline-flex;
                color: var(--black);
                
                .btn-double__text {
                    padding: 14rem 20rem;
                    background-color: transparent !important;
                    border: 1px solid var(--black);
                    color: var(--black);
                }
                
                .btn-double__icon {
                    background-color: transparent !important;
                    border: 1px solid var(--black);
                }
            }
            &-time {
                display: flex;
                align-items: center;
                gap: 8rem;
                
                img {
                    width: 16rem;
                    height: 16rem;
                    flex-shrink: 0;
                }
                
                p {
                    font-weight: 400;
                    font-size: 12rem;
                    line-height: 1.2;
                    color: var(--dark-60);
                    white-space: nowrap;
                }
            }
        }
        &__sidebar {
            position: relative;
            order: 0;
            top: 0;
            right: 0;
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: max-height 0.4s ease, opacity 0.4s ease;
            gap: 0;
            &-title {
                font-size: 18rem;
                margin-bottom: 0;
                position: relative;
                padding: 10rem 0;
                &::after {
                    content: '';
                    background-image: url(../../../img/icons/arrow-down.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 18rem;
                    height: 19rem;
                    right: 0;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            &-list {
                gap: 0;
            }
            &-item {
                padding: 10rem 12rem;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    background-color: var(--line);
                    width: 375rem;
                    height: 1rem;
                    bottom: 0;
                    left: -20rem;
                    right: 0;
                }
            }
            &-link {
                color: var(--text);
                text-decoration: none!important;
            }
        }
    }
}

.sidebar-visible {
    max-height: 1500rem;
    opacity: 1;
    margin-bottom: 40rem;
}
