.not-found__wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.not-found {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -ms-flex-line-pack: center;
    flex-grow: 1;
    &__img {
        width: 440rem;
        height: 150rem;
        margin-bottom: 40rem;
    }
    &__text {
        font-size: 18rem;
        text-align: center;
        margin-bottom: 20rem;
    }
    &__btn {
        border-radius: 50rem;
        padding: 10rem 20rem;
        background: var(--accent-light);
        color: var(--white)
    }

    @media (max-width: 768px) {
        &__img {
            width: 100%;
            height: 114rem;
        }
        &__text {
            font-size: 14rem;
        }
    }
}