button {
  transition: .2s ease-in;
}
.accent-btn {
  // background-color: var(--accent);
  color: var(--white);
  border-radius: 50rem;
  // &:hover {
  //   background-color: var(--accent-dark);
  // }
  // &:disabled {
  //   background: var(--accent-30);
  // }
}

.btn-double {
  display: inline-flex;
  align-items: center;
  font-size: 14rem;
  line-height: 120%;

  &__text {
    padding: 10rem 20rem;
    border-radius: 50rem;
  }
  &__text, &__icon {
    transition: .2s ease-in;
  }

  &__icon {
    width: 40rem;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

    img {
      width: 18rem;
      height: 18rem;
    }
  }

  &--white {
    color: var(--black);

    .btn-double__text,
    .btn-double__icon {
      background-color: var(--white);
    }
  }

  &--black {
    color: var(--white);

    .btn-double__text,
    .btn-double__icon {
      background-color: var(--black);
    }
    &:hover {
      .btn-double__text,
      .btn-double__icon {
        opacity: 0.8;
      }
    }
  }
}

.btn-show-more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 11rem 20rem;
  background-color: var(--dark);
  color: var(--white-light);
  border: none;
  border-radius: 100rem;
  font-family: var(--font-family);
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.2;
  cursor: pointer;
  transition: opacity .2s ease-in;
  white-space: nowrap;

  &:hover {
    opacity: 0.8;
  }
}

.btn-to-cart {
  padding: 10rem 20rem;
}

.btn-simple {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 11rem 20rem;
  background-color: var(--dark);
  color: var(--white);
  border-radius: 100rem;
  font-family: 'Albert Sans', sans-serif;
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.2;
  transition: .2s ease-in;
  border: none;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    opacity: 0.8;
  }
}