.real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.custom-checkbox {
    flex-shrink: 0;
    display: inline-block;
    width: 16rem;
    height: 16rem;
    background-color: var(--white);
    border: 2rem solid var(--black);
    border-radius: 1rem;
    vertical-align: sub;
    margin-right: 10rem;
    position: relative;
}

.custom-checkbox::before {
    content: '';
    display: inline-block;
    background-image: url(../../img/icons/check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 10rem;
    height: 8rem;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    // transition: .2s ease-in;
}
.real-checkbox:checked + .custom-checkbox {
    border-color: var(--accent-light);
}
.real-checkbox:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}