.documents {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32rem;
    }
    &__title {
        margin-bottom: 0;
    }
    &__slider {
        // min-height: 402rem;
        .swiper-wrapper {
            height: auto!important;
        }
        .swiper-slide {
            // min-height: 402rem;
        }
    }
    .swiper-btn {
        width: 40rem;
        height: 40rem;
        img {
            width: 20rem;
            height: 20rem;
        }
    }
    &__image {
        margin-bottom: 20rem;
        width: 100%;
        height: 402rem;
        object-fit: cover;
        border-radius: 10rem;
    }
    &__caption {
        font-size: 16rem;
        color: var(--text);
    }
    .swiper-controls {
        margin-top: 0;
        width: max-content;
        display: flex!important;
        flex-grow: 0;
        gap: 16rem;
        margin-top: 0;
    }
   
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        &__header {
            display: contents;
        }
        &__title {
            margin-bottom: 20rem;
        }
        &__slider {
            width: 100%;
            overflow: hidden;
            
            .swiper-wrapper {
                display: flex;
            }
            
            .swiper-slide {
                min-height: 480rem;
                width: 100% !important;
                flex-shrink: 0;
            }
        }
        &__controls {
            order: 1;
            margin: 30rem auto 0;
        }
        &__image {
            height: 480rem;
        }
        .swiper-controls {
            margin-top: 30rem;
        }
    }
}