.notification {
    opacity: 0;
    transition: .2s ease-in;
    pointer-events: 'none';
    position: absolute;
    box-shadow: 0 0 12rem 0 rgba(201, 201, 201, 0.25);
    background: var(--white);
    border-radius: 10rem;
    padding: 8rem;
    font-size: 12rem;
    right: 130rem;
    z-index: 999;
    width: 260rem;
    color: var(--accent-light);
    bottom: -25rem;
    &__content {
        position: relative;
    }
    &__title {
        color: var(--accent-light);
    }
    &__status {
        color: var(--black);
    }
    &__close {
        position: absolute;
        top: 0;
        right: 0;
        width: 16rem;
        height: 16rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            cursor: pointer;    
        }
    }

    &--visible {
        opacity: 1;
        pointer-events: 'all';
    }

    @media (max-width: 768px) {
        display: none;
    }
}