.reviews {
    &__content {
        display: flex;
        gap: 142rem;

    }
    &__intro {
        max-width: 439rem;
        width: 100%;
        flex-shrink: 0;
        .section-title {
            margin-bottom: 16rem;
        }
        .paragraph {
            font-size: 12rem;
            max-width: 278rem;
        }
    }
    &__swiper {
        padding-right: 20rem!important;
        display: flex;
        align-items: center;
        gap: 10rem;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;    
        -ms-overflow-style: none;
        .swiper-slide {
            // height: auto;
        }
        &::-webkit-scrollbar {     
            display: none;
        }
    }
    &__item {
        height: auto!important;
        position: relative;
        border-radius: 0;
        width: 460rem!important;
        margin-right: 10rem;
        flex-shrink: 0;
        min-height: 300rem;
        background: var(--grey);
        padding: 65rem 68rem 20rem 20rem;
        display: flex!important;
        flex-direction: column;
        &::before {
            content: '';
            position: absolute;
            background-image: url(../../img/icons/review-quote.svg);
            background-size: contain;
            width: 30rem;
            height: 25rem;
            top: 20rem;
            left: 20rem;
        }
    }
    &__text {
        font-size: 24rem;
        line-height: 120%;
        color: var(--black)
    }
    &__client {
        padding-top: 20rem;
        margin-top: auto;
        display: flex;
        align-items: center;
        gap: 14rem;
        &-image {
            width: 50rem;
            height: 50rem;
            flex: 0 0 auto;
        }
        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100%;
        }
        &-info {
            display: flex;
            flex-direction: column;
            gap: 8rem;
        }
        &-name {
            font-weight: 700;
            font-size: 14rem;
            line-height: 120%;
        }
        &-product {
            line-height: 120%;
            text-decoration: underline!important;
            text-decoration-skip-ink: none;
            color: var(--accent);
        }
    }
    &__rating {
        position: absolute;
        top: 20rem;
        right: 20rem;
        width: max-content;
        display: flex;
        align-items: center;
        gap: 4rem;
        font-weight: 600;
        font-size: 12rem;
        &-icon {
            width: 14rem;
            height: 14rem;
        }
    }

    @media (max-width: 768px) {
        &__content {
            flex-direction: column;
            gap: 20rem;
        }
        &__swiper {
            width: 100%;
            padding-right: 0!important;
        }
        &__item {
            margin-right: 0;
            width: 100%!important;
            padding: 57rem 50rem 20rem 20rem;
            min-height: 273rem;
            height: auto!important;
            &::before {
                width: 20rem;
                height: 17rem;
            }
        }
        &__text {
            font-size: 18rem;
        }
    }
}