.to-favorite {
    width: 40rem;
    height: 40rem;
    border-radius: 100%;
    background: var(--grey);
    margin-left: auto;
    margin-right: 4rem;
    &__icon {
        width: 20rem;
        height: 20rem;
    }
    &--checked {
        background: var(--accent-light);
        .to-favorite__icon path {
            fill: var(--white);
        }
    }

    @media (max-width: 768px) {
        margin-right: 0;
    }
}