.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.visually-hidden-mobile {
	@media (max-width: 768px) {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		white-space: nowrap;
		clip-path: inset(100%);
		clip: rect(0 0 0 0);
		overflow: hidden;
	}
}

.no-scroll {
	overflow-y: hidden;
}
.mb-30 {
	margin-bottom: 30rem;
}
.mb-12 {
	margin-bottom: 12rem;
}
.flex {
	display: flex;
}
.black {
	color: var(--black);
}
.inline-block {
	display: inline-block;
}
.centered {
	display: flex;
	align-items: center;
	justify-content: center;
}
.form-group {
	padding: 11.5rem 0;
	label {
		display: flex;
		align-items: flex-start;
	}
}
.default-icon {
	width: 18rem;
	height: 18rem;
}
@media (max-width: 768px) {
	.form-group {
		padding: 10rem 0;
	}
}
