.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.visually-hidden-mobile {
	@media (max-width: 768px) {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		white-space: nowrap;
		clip-path: inset(100%);
		clip: rect(0 0 0 0);
		overflow: hidden;
	}
}

.no-scroll {
	overflow-y: hidden;
}
.mb-30 {
	margin-bottom: 30rem;
}
.mb-12 {
	margin-bottom: 12rem;
}
.flex {
	display: flex;
}
.black {
	color: var(--black);
}
.inline-block {
	display: inline-block;
}
.centered {
	display: flex;
	align-items: center;
	justify-content: center;
}
.form-group {
	padding: 11.5rem 0;
	label {
		display: flex;
		align-items: flex-start;
	}
}
.default-icon {
	width: 18rem;
	height: 18rem;
}

.user-text {
	p, blockquote {
		font-weight: 300;
		font-size: 14rem;
		line-height: 140%;
		color: var(--dark-60);
	}
	h2 {
		font-weight: 500;
		font-size: 36rem;
		color: #0f0f0f;
		margin-bottom: 8rem;
	}
	h3, h4 {
		font-weight: 400;
		font-size: 18rem;
		color: #0f0f0f;
		margin-bottom: 12rem;
	}
	ul, ol {
		font-family: var(--font-family);
		font-weight: 300;
		font-size: 14rem;
		line-height: 140%;
		color: var(--dark-60);
		padding-left: 20rem;
		li {
			list-style: disc;
		}
	}
}
.added_to_cart, .woocommerce-notices-wrapper {
	display: none;
}
@media (max-width: 768px) {
	.form-group {
		padding: 10rem 0;
	}
}
