.about-direction {
    &__item {
        background: var(--grey);
        border-radius: 10rem;
        padding: 20rem;
        display: flex;
        flex-direction: column;
    }
    &__icon {
        width: 40rem;
        height: 40rem;
        background-color: var(--white);
        border-radius: 100%;
        svg {
            width: 20rem;
            height: 20rem;
        }
    }
    &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 20rem;
    }
    &__title {
        font-weight: 700;
        font-size: 18rem;
    }
    &__text {
        margin-top: auto;
    }

    @media (max-width: 768px) {
        &__item {
            min-height: 150rem;
        }
    }
}