.about__hero {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &-title {
        max-width: 646rem;
    }
    &-text {
        flex: 0 0 auto;
        max-width: 646rem;
        .paragraph {
            max-width: 435rem;
        }
    }
    &-image {
        width: 478rem;
        height: 300rem;
        flex: 0 0 auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 9rem;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 20rem;
        &-image {
            width: 100%;
            height: 200rem;
            order: -1;
        }
        &-text {
        }
        &-title {
            font-size: 28rem;
            max-width: none;
        }
    }
}