.specialists__card {
    display: flex;
    align-items: flex-start;
    gap: 20rem;
    &-image {
        height: 250rem;
        width: 150rem;
        flex-shrink: 0;
    }
    &-text {
        max-width: 186rem;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-name {
        font-weight: 600;
        font-size: 20rem;
        color: var(--black);
        margin-bottom: 12rem;
    }
    &-descr {
        margin-bottom: 16rem;
    }
    &-list {
        padding-bottom: 26rem;
        display: flex;
        flex-direction: column;
        gap: 8rem;
    }
    &-point {
        font-size: 12rem;
        color: var(--black);
        font-weight: 600;
        span {
            color: var(--text);
            font-weight: 400;
        }
    }
    &-socials {
        display: flex;
        align-items: center;
        gap: 6rem;
        .social-link {
            width: 30rem;
            height: 30rem;
            svg {
                width: 11rem;
                height: 11rem;
            }
        }
    }
    &-rating {
        position: relative;
        width: max-content;
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: -18rem;
            transform: translateY(-50%);
            background-image: url(../../../img/icons/g-star.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width: 14rem;
            height: 14rem;
        }
    }
    &-link {
        display: inline-block;
        width: max-content;
        color: var(--white);
        border-radius: 50rem;
        padding: 10rem 20rem;
        background-color: var(--accent);
        margin-top: auto;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 12rem;
        &-image {
            width: 157rem;
            height: 180rem;
        }
        &-text {
            max-width: none;
        }
        &-name {
            margin-bottom: 8rem;
            font-size: 14rem;
        }
        &-descr {
            font-size: 12rem;
            margin-bottom: 20rem;
        }
        &-point {
            
        }
    }
}