.catalog-hero {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    position: relative;
    margin-top: 85rem;
    
    &__image {
        width: 100%;
        height: 400rem;
        object-fit: cover;
        display: block;
    }

    @media (max-width: 768px) {
        display: none;
    }
}

