.catalog-bottom {

  &__divider {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #e5e5e5;
    margin: 0 0 60rem 0;
  }

  // Категории
  &__categories {
    display: flex;
    flex-direction: column;
    gap: 40rem;
    margin-bottom: 60rem;
  }

  &__category-group {
    display: flex;
    flex-direction: column;
    gap: 20rem;
  }

  &__category-title {
    font-family: var(--font-albert);
    font-weight: 500;
    font-size: 16rem;
    line-height: 1.2;
    color: var(--text-primary);
    margin: 0;
  }

  &__category-links {
    display: flex;
    flex-wrap: wrap;
    gap: 12rem;
  }

  &__category-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 11rem 30rem;
    height: 55rem;
    border: 1px solid var(--dark-80);
    border-radius: 55rem;
    font-family: var(--font-albert);
    font-weight: 400;
    font-size: 12rem;
    line-height: 1.2;
    color: var(--dark-80);
    text-decoration: none;
    transition: all 0.3s ease;
    white-space: nowrap;
    cursor: pointer;
    background: none;

    &:hover:not(&--active) {
      background-color: var(--black);
      border-color: var(--black);
      color: var(--white);
    }

    &--active {
      background-color: var(--black);
      border-color: var(--black);
      color: var(--white);
    }
  }

  // Контент с текстом и фото
  &__content {
    display: grid;
    grid-template-columns: 631rem 1fr;
    gap: 107rem;
    align-items: start;
  }

  &__images {
    position: relative;
    width: 631rem;
    height: 570rem;
  }

  &__image {
    position: absolute;
    width: 362rem;
    height: 470rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--first {
      top: 0;
      left: 0;
      background-color: #F3F3F3;
    }

    &--second {
      top: 100rem;
      left: 269rem;
      background-color: #EBEBEB;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 30rem;
    padding-top: 56rem;
  }

  &__paragraph {
    font-family: var(--font-albert);
    font-weight: 300;
    font-size: 14rem;
    line-height: 1.4;
    color: var(--text-secondary);
    margin: 0;
  }

  &__quote {
    display: flex;
    flex-direction: column;
    gap: 12rem;
    width: 478rem;
    margin: 0 auto;
  }

  &__quote-title {
    font-family: var(--font-albert);
    font-weight: 400;
    font-size: 18rem;
    line-height: 1.2;
    color: var(--text-primary);
    margin: 0;
  }

  &__quote-text {
    font-family: var(--font-albert);
    font-weight: 300;
    font-size: 14rem;
    line-height: 1.4;
    color: var(--text-secondary);
    margin: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12rem;
    width: 487rem;
  }

  &__list-title {
    font-family: var(--font-albert);
    font-weight: 400;
    font-size: 18rem;
    line-height: 1.2;
    color: var(--text-primary);
    margin: 0;
  }

  &__list-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8rem;

    li {
      font-family: var(--font-albert);
      font-weight: 300;
      font-size: 14rem;
      line-height: 1.4;
      color: var(--text-secondary);
      padding-left: 20rem;
      position: relative;

      &::before {
        content: "•";
        position: absolute;
        left: 0;
        color: var(--text-secondary);
      }
    }
  }

  // Мобильная версия
  @media (max-width: 768px) {
    padding: 40rem 0 60rem;

    &__divider {
      margin-bottom: 40rem;
    }

    &__categories {
      gap: 30rem;
      margin-bottom: 40rem;
    }

    &__category-group {
      gap: 16rem;
    }

    &__category-title {
      font-size: 14rem;
    }

    &__category-links {
      gap: 10rem;
    }

    &__category-link {
      padding: 9rem 20rem;
      height: 40rem;
      font-size: 11rem;
    }

    &__content {
      grid-template-columns: 1fr;
      gap: 40rem;
    }

    &__images {
      width: 100%;
      height: 350rem;
      order: 2;
    }

    &__image {
      width: 200rem;
      height: 260rem;

      &--first {
        left: 0;
      }

      &--second {
        top: 90rem;
        left: 150rem;
      }
    }

    &__text {
      gap: 24rem;
      padding-top: 0;
      order: 1;
    }

    &__paragraph {
      font-size: 13rem;
    }

    &__quote {
      width: 100%;
      gap: 10rem;
    }

    &__quote-title {
      font-size: 16rem;
    }

    &__quote-text {
      font-size: 13rem;
    }

    &__list {
      width: 100%;
      gap: 10rem;
    }

    &__list-title {
      font-size: 16rem;
    }

    &__list-items {
      gap: 6rem;

      li {
        font-size: 13rem;
        padding-left: 16rem;
      }
    }
  }
}

