.service-faq {
    &__title {
        font-family: 'Albert Sans', sans-serif;
        font-weight: 400;
        font-size: 36rem;
        line-height: 1.2;
        color: var(--black);
        margin: 0 0 40rem 0;
    }

    @media (max-width: 768px) {
        &__title {
            font-size: 24rem;
            margin-bottom: 30rem;
        }
    }
}

