.service-hero {
    
    &__top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 40rem;
        margin-bottom: 20rem;
    }
    
    &__content {
        flex: 1;
    }
    
    &__title {
        font-family: 'Albert Sans', sans-serif;
        font-weight: 400;
        font-size: 28rem;
        line-height: 1.2;
        color: var(--dark);
        margin-bottom: 12rem;
    }
    
    &__subtitle {
        font-family: 'Albert Sans', sans-serif;
        font-weight: 400;
        font-size: 14rem;
        line-height: 1.4;
        color: var(--dark);
        margin: 0;
    }
    
    &__cta {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20rem;
        flex-shrink: 0;
    }
    
    &__price {
        font-family: 'Manrope', sans-serif;
        font-weight: 400;
        font-size: 14rem;
        line-height: 1.4;
        color: var(--dark);
        margin: 0;
        white-space: nowrap;
    }
    
    &__button {
        white-space: nowrap;
    }
    
    &__image {
        width: 100%;
        height: 519rem;
        border-radius: 10rem;
        overflow: hidden;
        margin-bottom: 40rem;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    &__benefits {
        // max-width: 330rem;
        
        &--mobile {
            display: none;
        }
        
        &--desktop {
            display: block;
        }
    }
    
    &__benefits-title {
        font-family: 'Albert Sans', sans-serif;
        font-weight: 400;
        font-size: 24rem;
        line-height: 1.2;
        color: var(--dark);
        margin-bottom: 12rem;
    }
    
    &__benefits-list {
        list-style: none;
        counter-reset: benefits-counter;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 8rem;
        
        li {
            font-family: 'Albert Sans', sans-serif;
            font-weight: 400;
            font-size: 14rem;
            line-height: 1.4;
            color: var(--dark-80);
            counter-increment: benefits-counter;
            position: relative;
            padding-left: 0;
            
            &::before {
                content: counter(benefits-counter) ". ";
                font-weight: 400;
            }
        }
    }
    
    @media (max-width: 768px) {
        padding-top: 0;
        
        .container {
            display: flex;
            flex-direction: column;
            gap: 0;
            
            .service-hero__image {
                order: 1;
            }
            
            .service-hero__top {
                order: 2;
            }
        }
        
        &__top {
            flex-direction: column;
            gap: 20rem;
            margin-bottom: 20rem;
            
            .service-hero__content {
                order: 1;
            }
            
            .service-hero__benefits--mobile {
                order: 2;
                display: block;
                max-width: 100%;
                width: 100%;
                margin: 0;
                padding: 0;
            }
            
            .service-hero__cta {
                order: 3;
            }
        }
        
        &__benefits {
            &--desktop {
                display: none;
            }
        }
        
        &__cta {
            width: 100%;
            align-items: center;
        }
        
        &__price {
            text-align: left;
        }
        
        &__button {
            width: 100%;
        }
        
        &__title {
            font-size: 24rem;
        }
        
        &__image {
            height: 200rem;
            margin-bottom: 30rem;
        }
        
        &__benefits {
            max-width: 100%;
            width: 100%;
            
            &--mobile {
                margin: 0;
                padding: 0;
            }
        }
        
        &__benefits-title {
            font-size: 20rem;
            margin-left: 0;
            padding-left: 0;
        }
        
        &__benefits-list {
            margin-left: 0;
            padding-left: 0;
        }
    }
}

