.service-portfolio {
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 12rem;
    }

    &__title {
        font-family: 'Albert Sans', sans-serif;
        font-weight: 400;
        font-size: 16rem;
        line-height: 1.2;
        color: var(--dark);
        margin: 0;
    }

    @media (max-width: 1024px) {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 768px) {
        &__grid {
            grid-template-columns: 1fr;
        }
    }
}

// Before-After Slider
.before-after-container {
    width: 100%;
    height: 260rem;
    position: relative;
    overflow: hidden;
}

.before-after-image {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;

    &.before {
        width: 50%;
        z-index: 2;
    }

    &.after {
        width: 100%;
        z-index: 1;
    }
}

.before-after-badge {
    position: absolute;
    top: 12rem;
    left: 12rem;
    padding: 6rem 16rem;
    background-color: var(--white);
    color: var(--dark);
    border-radius: 20rem;
    font-family: 'Albert Sans', sans-serif;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.2;
    z-index: 3;
}

.before-after-image.after .before-after-badge {
    left: auto;
    right: 12rem;
}

.before-after-slider {
    width: 100%;
    height: 100%;
    outline: none;
    background-color: transparent;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 4;
    cursor: ew-resize;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: 0.25s all ease-in-out;

    // Firefox
    &::-moz-range-thumb {
        width: 4rem;
        height: 260rem;
        background-color: var(--white);
        cursor: ew-resize;
        border: none;
    }

    // Chrome, Safari, Edge
    &::-webkit-slider-thumb {
        width: 4rem;
        height: 260rem;
        background-color: var(--white);
        cursor: ew-resize;
        appearance: none;
        -webkit-appearance: none;
    }

    // Remove track background
    &::-moz-range-track {
        background: transparent;
    }

    &::-webkit-slider-runnable-track {
        background: transparent;
    }
}

.before-after-button {
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    background-color: var(--white);
    position: absolute;
    top: calc(50% - 20rem);
    left: calc(50% - 20rem);
    cursor: ew-resize;
    z-index: 5;
    pointer-events: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 28rem;
        height: 28rem;
        color: var(--dark);
    }
}

@media (max-width: 768px) {
    .before-after-container {
        height: 200rem;
    }

    .before-after-slider {
        &::-moz-range-thumb {
            height: 200rem;
        }

        &::-webkit-slider-thumb {
            height: 200rem;
        }
    }

    .before-after-button {
        width: 32rem;
        height: 32rem;
        top: calc(50% - 16rem);

        svg {
            width: 24rem;
            height: 24rem;
        }
    }
}
