.service-process {
    &__content {
        display: grid;
        grid-template-columns: 1fr 500rem;
        gap: 100rem;
        align-items: center;
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: 30rem;
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 20rem;
    }

    &__title {
        font-family: 'Albert Sans', sans-serif;
        font-weight: 400;
        font-size: 24rem;
        line-height: 1.2;
        color: var(--black);
        margin: 0;
    }

    &__text {
        font-family: 'Albert Sans', sans-serif;
        font-weight: 300;
        font-size: 14rem;
        line-height: 1.4;
        color: var(--dark-60);
        margin: 0;
    }

    &__quote {
        display: flex;
        flex-direction: column;
        gap: 12rem;
        max-width: 478rem;
    }

    &__quote-title {
        font-family: 'Albert Sans', sans-serif;
        font-weight: 400;
        font-size: 18rem;
        line-height: 1.2;
        color: var(--black);
        margin: 0;
    }

    &__quote-text {
        font-family: 'Albert Sans', sans-serif;
        font-weight: 300;
        font-size: 14rem;
        line-height: 1.4;
        color: var(--dark-60);
        margin: 0;
        font-style: normal;
    }

    &__image {
        width: 500rem;
        height: 507rem;
        overflow: hidden;
        background-color: #F3F3F3;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @media (max-width: 1024px) {
        &__content {
            grid-template-columns: 1fr;
            gap: 40rem;
        }

        &__image {
            width: 100%;
            height: 400rem;
        }
    }

    @media (max-width: 768px) {
        &__content {
            gap: 30rem;
        }

        &__left {
            gap: 20rem;
            order: 2;
        }

        &__block {
            gap: 12rem;
        }

        &__title {
            font-size: 20rem;
        }

        &__text {
            font-size: 14rem;
        }

        &__quote {
            gap: 8rem;
            max-width: 100%;
        }

        &__quote-title {
            font-size: 16rem;
        }

        &__quote-text {
            font-size: 14rem;
        }

        &__image {
            height: 300rem;
            order: 1;
        }
    }
}

