.case-description {
    &__content {
        display: flex;
        align-items: center;
        gap: 95rem;
    }
    &__img {
        width: 540rem;
        height: 449rem;
        flex: 0 0 auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10rem;
        }
    }
    &__title {
        margin-bottom: 12rem;
    }
    &__paragraph {
        margin-bottom: 40rem;
    }
    &__h3 {
        margin-bottom: 12rem;
    }

    @media (max-width: 768px) {
        &__content {
            flex-direction: column;
            gap: 20rem;
        }
        &__img {
            width: 100%;
            height: 278rem;
        }
        &__paragraph {
            margin-bottom: 30rem;
        }
    }
}