.breadcrumbs {
    padding: 40rem 0;
    
    &__list {
        display: flex;
        align-items: center;
        gap: 8rem;
        flex-wrap: wrap;
    }
    
    &__separator {
        // margin: 0 8rem;
        color: var(--text);
        
        &::before {
            content: '/';
        }
        
        &--current {
            color: var(--dark);
        }
    }
    
    &__link {
        flex-shrink: 0;
        font-weight: 400;
        font-size: 16rem;
        line-height: 1.2;
        color: var(--text);
        text-decoration: none;
        transition: opacity 0.3s ease;
        
        &:hover {
            opacity: 0.7;
        }
    }
    
    &__current {
        font-weight: 400;
        font-size: 16rem;
        line-height: 1.2;
        color: var(--dark);
    }
    
    @media (max-width: 768px) {
        padding: 20rem 0 20rem;
        
        &__list {
            flex-wrap: wrap;
            row-gap: 11rem;
        }
        
        &__link,
        &__current {
            font-size: 14rem;
        }
    }
}

.woocommerce-breadcrumb {
  padding: 20rem 0 40rem;
  display: flex;
  align-items: center;
  gap: 8rem;

  a {
    color: var(--text);
  }
}

