.container {
	max-width: calc(var(--container-width) + var(--container-padding) * 2);
	padding-inline: var(--container-padding);
	margin: 0 auto;
	width: 100%;
	@media (max-width: 768px) {
		padding-inline: 20rem;
	}
}
.container-right {
	padding-left: calc(
		(100% - var(--container-width)) / 2 + var(--container-padding)
	);

	@media (max-width: 768px) {
		 max-width: calc(var(--container-width) + var(--container-padding));
		padding-left: 0;
		padding-inline: var(--container-padding);
		margin: 0 auto 100rem; 
		width: 100%;
	}
}