.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9000;
	opacity: 0;
	pointer-events: none;
	transition: opacity .3s ease;

	&--visible,
	&--active {
		opacity: 1;
		pointer-events: all;
	}
}
