<div class="acnav menu">
    <div class="menu__content acnav__main-list">
    <section class="nav-wrap menu__nav-wrap">
        <div class="menu__item-wrapper" data-category="figure-skating">
            <div class="menu__item">
                <span class="menu__item-link">
                    <span class="menu__link">Фигурное катание</span>
                </span>
            </div>
        </div>
        <div class="menu__item-wrapper" data-category="hockey">
            <div class="menu__item">
                <span class="menu__item-link">
                    <span class="menu__link">Хоккей</span>
                </span>
            </div>
        </div>
        <div class="menu__item-wrapper" data-category="services">
            <div class="menu__item">
                <span class="menu__item-link">
                    <span class="menu__link">Услуги</span>
                </span>
            </div>
        </div>
    </section>
    </div>
    <!-- Подменю для Фигурное катание -->
    <div class="menu__categories" role="navigation" data-category="figure-skating">
        <div class="menu__categories-content">
            <div class="menu__categories-column menu__categories-column--subsections">
                <p class="menu__categories-title is-active">Подраздел</p>
                <p class="menu__categories-title">Подраздел</p>
                <p class="menu__categories-title">Подраздел</p>
                <p class="menu__categories-title">Подраздел</p>
                <p class="menu__categories-title">Подраздел</p>
                <p class="menu__categories-title">Подраздел</p>
                <p class="menu__categories-title">Подраздел</p>
            </div>
            <div class="menu__categories-column menu__categories-column--categories">
                <div class="menu__categories-wrapper">
                    <ul class="menu__list">
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                    </ul>
                    <ul class="menu__list">
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Подменю для Хоккей -->
    <div class="menu__categories" role="navigation" data-category="hockey">
        <div class="menu__categories-content">
            <div class="menu__categories-column menu__categories-column--subsections">
                <p class="menu__categories-title is-active">Подраздел</p>
                <p class="menu__categories-title">Подраздел</p>
                <p class="menu__categories-title">Подраздел</p>
                <p class="menu__categories-title">Подраздел</p>
                <p class="menu__categories-title">Подраздел</p>
                <p class="menu__categories-title">Подраздел</p>
                <p class="menu__categories-title">Подраздел</p>
            </div>
            <div class="menu__categories-column menu__categories-column--categories">
                <div class="menu__categories-wrapper">
                    <ul class="menu__list">
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                    </ul>
                    <ul class="menu__list">
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Подменю для Услуги -->
    <div class="menu__categories" role="navigation" data-category="services">
        <div class="menu__categories-content">
            <div class="menu__categories-column menu__categories-column--subsections">
                <p class="menu__categories-title is-active">Подраздел</p>
                <p class="menu__categories-title">Подраздел</p>
                <p class="menu__categories-title">Подраздел</p>
                <p class="menu__categories-title">Подраздел</p>
                <p class="menu__categories-title">Подраздел</p>
                <p class="menu__categories-title">Подраздел</p>
                <p class="menu__categories-title">Подраздел</p>
            </div>
            <div class="menu__categories-column menu__categories-column--categories">
                <div class="menu__categories-wrapper">
                    <ul class="menu__list">
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                    </ul>
                    <ul class="menu__list">
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                        <li>
                            <a href="../catalog.html" class="menu__category-link">Подкатегория</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
