<aside class="mob-menu">
  <!-- Search and Links Section (вверху) -->
  <div class="mob-menu__header">
    <form class="mob-menu__search-form">
      <div class="mob-menu__search-input">
        <input 
          type="text" 
          placeholder="Поиск" 
          name="search"
          class="mob-menu__search-field"
        />
      </div>
      <button type="submit" class="mob-menu__search-submit">Найти</button>
    </form>
    
    <div class="mob-menu__links">
      <button class="mob-menu__footer-link" id="mob-menu-cart-btn">
        <img
          src="/img/icons/header/cart-mob.svg"
          alt=""
          width="18"
          height="18"
        />
        <span class="mob-menu__link-text"
          >Корзина | <span class="header__count">0</span></span
        >
      </button>
      <button class="mob-menu__footer-link" id="mob-menu-favorites-btn">
        <img
          src="/img/icons/header/favourite.svg"
          alt=""
          width="18"
          height="18"
        />
        <span class="mob-menu__link-text"
          >Избранное | <span class="header__count">0</span></span
        >
      </button>
    </div>
  </div>

  <!-- Navigation (ниже, по центру) -->
  <ul class="mob-menu__nav">
    <li class="mob-menu__item">
      <div class="acnav">
        <button class="mob-menu__link acnav__main-label" type="button">
          Каталог
          <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.25 4.33L6.5 8.34L9.75 4.33" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
        <div class="acnav__main-list">
          <ul class="acnav__list acnav__list--level1">
            <li class="has-children">
              <div class="acnav__label">Категория</div>
              <ul class="acnav__list">
                <li><a href="/catalog.html" class="mob-menu__sublink">Подкатегория</a></li>
                <li><a href="/catalog.html" class="mob-menu__sublink">Подкатегория</a></li>
                <li><a href="/catalog.html" class="mob-menu__sublink">Подкатегория</a></li>
                <li><a href="/catalog.html" class="mob-menu__sublink">Подкатегория</a></li>
              </ul>
            </li>
          </ul>
          <ul class="acnav__list acnav__list--level1">
            <li class="has-children">
              <div class="acnav__label">Категория</div>
              <ul class="acnav__list">
                <li><a href="/catalog.html" class="mob-menu__sublink">Подкатегория</a></li>
                <li><a href="/catalog.html" class="mob-menu__sublink">Подкатегория</a></li>
                <li><a href="/catalog.html" class="mob-menu__sublink">Подкатегория</a></li>
                <li><a href="/catalog.html" class="mob-menu__sublink">Подкатегория</a></li>
              </ul>
            </li>
          </ul>
          <ul class="acnav__list acnav__list--level1">
            <li class="has-children">
              <div class="acnav__label">Категория</div>
              <ul class="acnav__list">
                <li><a href="/catalog.html" class="mob-menu__sublink">Подкатегория</a></li>
                <li><a href="/catalog.html" class="mob-menu__sublink">Подкатегория</a></li>
                <li><a href="/catalog.html" class="mob-menu__sublink">Подкатегория</a></li>
                <li><a href="/catalog.html" class="mob-menu__sublink">Подкатегория</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="mob-menu__item">
      <a class="mob-menu__link" href="/services.html">Услуги</a>
    </li>
    <li class="mob-menu__item">
      <a class="mob-menu__link" href="/promo.html">Акции</a>
    </li>
    <li class="mob-menu__item">
      <a class="mob-menu__link" href="/blog.html">Блог</a>
    </li>
  </ul>
</aside>
