.dekor-hero {
    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__image {
        width: 700rem;
        height: 300rem;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10rem;
    }
    &__subtitle {
        margin-bottom: 20rem;
    }
    &__title {
        font-weight: 600;
    }
    &__btn {
        padding-top: 40rem;
    }

    @media (max-width: 768px) {
        &__content {
            flex-direction: column;
            gap: 20rem;
        }
        &__title {
            font-size: 28rem;
            margin-bottom: 16rem;
        }
        &__subtitle {
            margin-bottom: 8rem;
            &:nth-of-type(2) {
                margin-bottom: 20rem;
            }
        }
        .h2-title {
            margin-bottom: 16rem;
        }
        &__btn {
            padding-top: 30rem;
        }
        &__image {
            order: -1;
            width: 100%;
            height: 200rem;
        }
    }
}